@{
    ViewData["Title"] = "About";
}

<head>
  <title>About Us</title>
</head>

<div class ="main">
<h1><b>TEAM MEMBERS</b></h1>
</div>

<h2>Click on the images to see our LinkedIn profiles.</h2>
<br>

<div class="row">

<!-- Column 1 -->
<div class="column">
<a href="https://www.linkedin.com/in/vaibhav-biradar/"><img src="https://i.ibb.co/kHGX13B/Whats-App-Image-2019-10-19-at-9-09-20-PM-copy.jpg" alt="VB" border="0" style="width:85%; height:auto" class="center"></a>
<h2 style="text-align: center;"><b>Vaibhav Biradar</b></h2>
<ul>
  <li><p2>Vaibhav is a Graduate Student from India majoring in Business Analytics and Information Systems.</p2></li>
  <li><p2>Text.</p2></li>
  <li><p2>Text.</p2></li>
</ul>
</div>

<!-- Column 2 -->
<div class="column">
<a href="https://www.linkedin.com/in/utsav-shah-16b55b191/"><img src="https://i.ibb.co/4NkRgG0/jj.jpg" alt="VB" border="0" style="width:85%; height:auto" class="center"></a>
<h2 style="text-align: center;"><b>Utsav Shah</b></h2>
<ul>
  <li><p2>Utsav is a Graduate Student from India majoring in Business Analytics and Information Systems.</p2></li>
  <li><p2>Utsav selected the dataset and got the API.</p2></li>
  <li><p2>Text.</p2></li>
</ul>
</div>

<!-- Column 3 -->
<div class="column">
<a href="https://www.linkedin.com/in/karina-podymova/"><img src="https://i.ibb.co/C9CsSmc/download-copy.png" alt="KP" border="0" style="width:85%; height:auto;" class="center"></a>
<h2 style="text-align: center;"><b>Karina Podymova</b></h2>
<ul>
  <li><p2>Karina is a Graduate Student from Russia majoring in Business Analytics and Information Systems.</p2></li>
  <li><p2>Karina worked on the "Views" part of the assignment.</p2></li>
  <li><p2>Text.</p2></li>
</ul>
</div>
</div>

<style>

h1 {
  font-size: 3.2vw;
  font-family: arial,helvetica,sans-serif;
}

h2 {
  font-size: 1.5vw;
  font-family: arial,helvetica,sans-serif;
}

p2 {
  font-size: 1.3vw;
  font-family: Century Gothic;
}

img {
  border-radius: 3%;
}

img:hover {
  opacity: 0.8;
}

/* TABLE WITH NAMES */
/* Set columns */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

</style>