<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <br>
    <h1 align="center">Bond Program Spending Summary</h1>
        <div class="abtus" align="center">
        <h1>About us</h1>
        <div>
            <p align="justify">
                We are Group 3 of Distributed Information System Course Sping 2020 (ISM 6225) at University of South Florida.
                We are pursuing MS in Business Analytics & Information Systems from Muma College of Business.
                This assignment is intended to help us practice html, css and optionally, JavaScript to get good design results.
            </p>
        </div>
        <div>
            <div class="team">
                <img src="~/images/new.jpg" style="width:300px;height:300px;" class="rotateimg90">
                <h3 align="center">Deepam Dembla</h3>
                <p align="justify">
                    Currently a student at USF's BAIS graduate program,
                    Deepam has worked in Business Intelligence domain for 4 years. Her contributions include
                    designing and developing various pages of the website.
                </p>
            </div>
            <div class="team">
                <img src="~/images/dhananjay.jpeg" style="width:300px;height:300px;">
                <h3 align="center">Dhananjay Kumar Singh</h3>
                <p align="justify">
                    Dhananjay currently a student at USF's Business Analytics and Information Systems graduate program.
                    He works with CitiBank. He worked  on page layout design ,color schemes and javascript for index,
                    summary and aboutus page.
                </p>
            </div>
            <div class="team">
                <img src="~/images/Rashesh.jpeg" style="width:300px;height:300px;">
                <h3 align="center">Rashesh Kothari</h3>
                <p align="justify">
                    Rashesh is a student at USF's Business Analytics and Information System graduate program.
                    He has worked for over 4 years in various industries.
                    Piror to joing the Infosys, he has also worked on a start-up
                    called <a href="https://dezains.com/" style="color:blue"> Dezains.com </a>
                </p>
            </div>
        </div>
  

</body>
</html>
