<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />

    <p>The table provides spending details on the City’s voter-approved bond programs</p>
    <input type=button onClick="location.href='https://data.austintexas.gov/api/views/kyp9-ynfw/rows.csv?accessType=DOWNLOAD'" value='Download data '>
</body>
</html>